.container {
  display: flex;
  flex-direction: column;
  margin: auto 80px;

  header {
    padding: 20px 0;
    background: #000;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-wrapper {

        img {
          width: 100%;
        }
      }

      .nav-items-wrapper {
        width: 100%;

        ul {
          display: flex;
          align-items: center;
          width: 80%;
          margin: auto;

          li {
            margin: 0 12px;
            color: #fff;

            &:hover {

              &:after {
                content: '';
                display: block;
                width: 80%;
                height: 2px;
                background: #2A86C7;
              }
            }
          }
        }
      }

      .actions-wrapper {
        display: flex;
        align-items: center;

        span {
          margin: 0 14px;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .new-releases-section {

    .burger-wrapper {
      .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 20%;
        background: #14161D;
        left: 0;
        z-index: 1;
        border-radius: 0 8px 8px 0;
        height: calc(100vh - 60px);

        .profile-wrapper {
          display: flex;
          align-items: center;
          width: 80%;
          margin: 20px 0;

          .profile-info-wrapper {
            display: flex;
            align-items: center;

            .profile-img-wrapper {

              img {
                width: 100%;
              }
            }

            .profile-description-wrapper {
              margin-left: 15px;

              span {
                color: #fff;
              }
            }
          }

          .burger-lines {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 11px;
            width: 20px;
            margin-left: 56px;
            cursor: pointer;

            .line {
              display: block;
              height: 1px;
              width: 100%;
              border-radius: 10px;
              background: #fff;
            }
          }
        }

        .burger-items {
          width: 100%;

          ul {

            display: flex;
            flex-direction: column;
            justify-content: center;

            li {
              display: flex;
              align-items: center;
              margin: 3px 0 3px 70px;
              padding: 5px 0;
              justify-content: flex-start;
              width: 100%;
              font-size: 15px;

              a {
                margin-left: 16px;
              }
            }
          }
        }
      }
    }

    .new-releases-decor-wrapper {
      position: absolute;
      z-index: -1;
      filter: brightness(.3);
      top: 0;

      img {
        filter: blur(50px);
      }
    }

    .new-releases-wrapper {
      display: flex;
      width: 60%;
      margin: 0 auto;
      background: #000;
      padding: 24px 50px 50px 50px;

      .new-release-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {

          h1 {
            font-size: 48px;
            color: #fff;
            margin: 35px 0 15px 0;
          }

          h2 {
            font-size: 20px;
            font-weight: 200;
            color: #fff;
          }

          a {

            img {
              width: 54px;
              height: 54px;
              filter: brightness(.5);

              &:hover {
                filter: brightness(1);
              }
            }
          }
        }

        .images-wrapper {
          display: flex;
          align-items: center;
          margin-top: 40px;
        }

      }

      .new-releases-img {

        img {
          -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        }
      }
    }

    .playlist-wrapper {
      .playlist {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 20%;
        background: #14161D;
        right: 0;
        z-index: 1;
        border-radius: 8px 0 0 8px;
        height: calc(100vh - 60px);
        overflow-y: scroll;

        .playlist-items {
          width: 100%;

          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;

            li {
              display: flex;
              align-items: center;

              .song-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 3px 0 3px 15px;
                padding: 5px 0;
                width: 100%;
                font-size: 15px;
                color: #fff;

                .song-description {
                  display: flex;
                  flex-direction: column;
                  margin-left: 10px;

                  span {
                    margin: 5px 0;

                    &:nth-child(2) {
                      color: #99999F;
                    }
                  }
                }

              }

              .actions {
                display: none;
                align-items: center;

                img {
                  cursor: pointer;
                  margin: 0 10px;
                }
              }

              &:hover {
                .actions {
                  display: flex;
                }
              }
            }
          }
        }
      }
    }

  }

  .player-section {

    .player-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      position: fixed;
      z-index: 1;
      background: #000;
      width: 100%;
      left: 0;
      padding: 0 80px;
      bottom: 0;

      .song-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        font-size: 15px;
        color: #fff;
        width: 100%;

        .song {
          display: flex;
          align-items: center;

          .song-description {
            display: flex;
            flex-direction: column;
            margin-left: 15px;

            span {
              margin: 5px 0;

              &:nth-child(2) {
                color: #99999F;
              }
            }
          }
        }

        .volume {

          input {
            width: 70%;
            height: 5px;
          }
        }

      }

      .player-actions {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        div {
          cursor: pointer;

          .play-btn {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #515364;
            color: #2A86C7;
            border: 1px solid #2A86C7;
          }
        }
      }

      .player-more-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        div {
          display: flex;
          justify-content: center;
          width: 100%;

          span {
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: #fff;

            span {
              display: flex;
              justify-content: center;
              color: #99999F;
            }
          }
        }
      }
    }
  }

  .genre-section {

    .genre-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 60%;
      margin: 0 auto;
      background: #000;
      padding: 24px 50px 50px 50px;

      .genre {
        display: flex;
        justify-content: center;
        width: calc(100% / 6);
        margin: 8px;
        border-radius: 8px;

        .genre-title {
          padding: 15px 0;
          font-size: 14px;
          color: #fff;
        }
      }

      .rap {
        background-image: linear-gradient(to right, #2449EE, #475fd5);
      }

      .rock {
        background-image: linear-gradient(to right, #EE2424, #d94b4b);
      }

      .soul {
        background-image: linear-gradient(to right, #C53AFF, #b263d3);
      }

      .jazz {
        background-image: linear-gradient(to right, #b47d0d, #E19614);
      }

      .blues {
        background-image: linear-gradient(to right, #14A2E1, #0886be);
      }

      .indie {
        background-image: linear-gradient(to right, #9d55e1, #5f08b1);
      }

      .reggae {
        background-image: linear-gradient(to right, #49be60, #0AB42A);
      }

      .country {
        background-image: linear-gradient(to right, #BF6739, #bb744c);
      }

      .soundtrack {
        background-image: linear-gradient(to right, #92959E, #92959E);
      }

      .holiday {
        background-image: linear-gradient(to right, #98C634, #98C634);
      }

      .child {
        background-image: linear-gradient(to right, #c561ad, #FF6ED9);
      }

      .classic {
        background-image: linear-gradient(to right, #272A34, #2f323b);
      }

      .dance {
        background-image: linear-gradient(to right, #41deb8, #29EDBE);
      }

      .pop {
        background-image: linear-gradient(to right, #EF29C7, #EF29C7);
      }

      .world {
        background-image: linear-gradient(to right, #63B3F9, #63B3F9);
      }
    }
  }

  .listen-again-section {

    .listen-again-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 60%;
      margin: 0 auto;
      background: #000;
      padding: 24px 50px 50px 50px;

      .listen-again-header-wrapper {

        div {

          .listen-again-title {
            font-size: 24px;
            color: #fff;
          }

          .listen-again-subtitle {
            font-size: 14px;
            color: #9B9C9E;
          }
        }
      }

      .listen-again-list-wrapper {
        width: 100%;

        ul {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            margin: 10px 0;

            .song-wrapper {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              margin: 3px 0 3px 15px;
              padding: 5px 0;
              width: 100%;
              font-size: 15px;
              color: #fff;

              .song-number {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #707070;
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }

              .song-description {
                display: flex;
                flex-direction: column;
                margin-left: 10px;

                span {
                  margin: 5px 0;

                  &:nth-child(2) {
                    color: #99999F;
                  }
                }
              }

            }

            .song-number-img-wrapper {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              margin: 3px 0 3px 15px;
              padding: 5px 0;
              width: 100%;
              font-size: 15px;
              color: #fff;

              .song-number-img {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            .actions {
              display: flex;
              align-items: center;

              img {
                cursor: pointer;
                margin: 0 10px;
              }
            }

            button {
              display: flex;
              justify-content: center;
              padding: 15px 0;
              border: 1px solid #707070;
              background: transparent;
              color: #fff;
              width: 100%;

              span {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }

  .albums-section {

    .albums-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 60%;
      margin: 0 auto;
      background: #000;
      padding: 24px 50px 50px 50px;
      .albums-header-wrapper {

        div {

          .albums-title {
            font-size: 24px;
            color: #fff;
          }

          .albums-subtitle {
            font-size: 14px;
            color: #9B9C9E;
          }
        }
      }

      .albums {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .album {
          width: calc(100% / 4);
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 15px;
          border-radius: 8px;

          img {
            position: relative;
            padding: 20px 0;
            width: 100%;
            height: 100%;
            &:first-child {
              position: absolute;
              top: 0;
              left: 0;
              padding: 0;
              filter: blur(30px);

            }
          }

          .album-description {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0;
            bottom: 20px;
            color: #fff;
            width: 60%;
            border-radius: 0 8px 8px 0;
            background-color: rgba(0,0,0, 0.4);

            .title {
              font-size: 16px;
            }
            span {
              font-size: 12px;
              padding: 5px 0;
            }
          }

          .show-more-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0, 0.9);

            div {

              span {
                color: #fff;
              }

              .plus {
                font-size: 50px;
                font-weight: 100;
              }
            }
          }
        }
      }
    }
  }

  footer {
    padding-bottom: 100px;

    .footer-wrapper {
      display: flex;
      width: 60%;
      margin: 0 auto;
      background: #000;

      .footer-section {
        width: 100%;
        margin: 0 10px;

        .title-wrapper {
          width: 100%;
          span {
            color: #fff;
            font-size: 14px;
          }
        }

        .apps-wrapper {
          display: flex;
          flex-wrap: wrap;
          margin-top: 25px;

          .app {
            width: 40%;
            margin: 5px;

            img {
              width: 100%;
            }
          }
        }

        ul {
          margin-top: 25px;

          li {
            margin: 10px 0;
            color: #fff;
          }
        }
      }
    }

    .copyright {
      text-align: center;
    }
  }
}
